providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.build]
cmds = ["cd backend && npm ci && npx prisma generate && npm run build"]

[start]
cmd = "cd backend && npx prisma migrate deploy && node dist/server.js"
